@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 28px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a{
  text-decoration: none;
  position: relative;
}

i {
  transition: all 300ms ease;
}

i:hover{
  opacity: 0.7;
}

.link__hover-effect:after{
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white::after{
  background-color: silver;
}

.link__hover-effect--black::after{
  background-color: green;
}

.link__hover-effect:hover::after{
  width: 100%;
  left: 0;
}


li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container{
    padding: 30px 0;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
}
.text--blue {
  color: rgb(16, 184, 184);
}
section:nth-last-child(odd){
    background-color: azure;
}

.section__title{
    margin-bottom: 20px;
}
.text--red {
  color: red;
}
/*NAVAGATION BAR*/

nav {
  min-height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: rgb(16, 184, 184);
  padding: 8px 20px;
  border-radius: 50px;
  color: whitesmoke;
  transition: all 500ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: rgb(1, 110, 1);
}
.personal__logo {
  font-size: 24px;
  color: rgb(16, 184, 184);
  margin: 0 12px;
  font-weight: bold;
}

/* ABOUT ME */
#about-me {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.about-me__info{
display: flex;
flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}
 
.about-me__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 16px rgb(1, 129, 133);
  margin-bottom: 20px;
  animation: animate-profile-picture 800ms 30ms backwards;
}

@keyframes animate-profile-picture{
 
  0%{
    transform: scale(0);
  }

  80% {
    transform:scale(1.1);
  }

  100% {
    transform:scale(1)
  }
}

.about-me__picture {
  width: 135%;
}
.about-me__info--title{
  margin-bottom: 16px;
  animation: fade-up 650ms 600ms backwards ;
}

.about-me__info--para {
  font-size: 19px;
  animation: fade-up 650ms 700ms backwards ;
}

.about-me__link {
  color: rgb(16, 184, 184);
  font-size: 29px;
  padding: 0 5px;
}
.about-me__links{
  animation: fade-up 650ms 800ms backwards ;

}

@keyframes fade-up{
  0%{
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
  opacity: 1;
  transform: translateY(0);
  }
}

.about-me__img--container{
flex: 1;
display: flex;
align-items: center;
}

.about-me__img{
    width: 100%;
    border-radius: 100px;
    animation: fade-in 1200ms 800ms backwards;
}
  @keyframes fade-in{
    0%{
     opacity: 0; 
    }
    100% {
      opacity: 1;
    }
  }
  .money{
    display: inline-block;
    animation:animate-money 500ms infinite ease-in-out;
  }

  @keyframes animate-money{
    0%{
      transform: rotate(0) ;
    }
    50%{
      transform: rotate(20deg);
    }
    100%{
      transform: rotate(0);
    }
  }

/*TECH - STACK */

.language__img{
  width: 100%;
  border-radius: 18px;
  max-width: 135px;
  transition: all 500ms;
}

.language__img:hover{
    filter: brightness(90%);
    opacity: 0.98;
transform: scale(0.94);

}

.language{
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.language__name{
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  color: lightseagreen ;
  opacity: 0;
}
.language:hover .language__name{
  transform: scale(1);
  opacity: 1;
}

/* PROJECTS */

.project{
  margin: 50px 0;
}

.project:last-child{
  margin-bottom: 0px;
}

.project__img{
  height: 100%;
  width: 106%;
  transition: all 500ms ease;
}

.project__wrapper{
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 183, 255, 0.45);
  border-radius: 50px;
  overflow:hidden;
  position: relative;
  justify-content: center;
}

.project__wrapper::before{
content:"";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #1c1d25;
opacity: 0;
transition: 450ms ease;
z-index: 2;
}
.project:hover .project__wrapper::before{
  opacity: 0.7;
}

.project:hover .project__img{
  transform: scale(1.02);
  filter:blur(2px) ;
}

.project:hover .project__description {
opacity:1;
transform: translateY(-40%);
}



.project__description{
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project__description--title{
  font-size: 50px;
}
.project__description--para{
  margin: 10px 0px;
}
.project__description--link{
  font-size: 20px;
  margin-right: 16px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link
{
text-align: left;
color: #fff;
}

/*FOOTER*/

footer{
  background-color: rgb(12, 184, 204);
}

.footer__social--list{
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom:20px ;
}

.footer__row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
padding: 3% 0 ;
}

.footer__logo--img{
  width: 100px;
  height: 100px;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper{
  color: whitesmoke;
}

.footer__logo--popper{
  position: absolute;
  right: 0;
  top: 40px;
  font-weight: 700;
  opacity: 0;
  transition: all 700ms ease;
}

.footer__anchor{
  position: relative;
  margin-bottom: 14px;
}

.footer__anchor:hover .footer__logo--popper{
  transform: translateX(50px);
opacity: 1;
}


/*Small phones, Tablets, Large Smartphones */
@media(max-width:760px) {
nav{
  height: 60px;
}

h1{
  font-size: 24px;
}

.about-me__info--para{
font-size: 16px;
padding: 0 10px;
}
.language{
  width: calc(100%/2);
}
.project__description--para{
font-size: 14px;
}
.project__description{
padding-right: 4px;
left: 30px;
}
.project__description--title{
  font-size: 30px;
}
.project__description--sub-title{
  font-size: 19px;
}
}

/*Small Phones*/

@media(max-width:480px){
.nav__link:not(:last-child){
  display: none;
}
.project__description{
  padding: 0;
  left: 0;
  width: 100%;
}

.project__description--para{
  display: none;
}

.project__description--links{
  display: flex;
  justify-content: center;
}

.project__description--title{
  font-size: 27px;
 line-height: 1;
 text-align: center;
}

.project__description--sub-title{
 text-align: center;
 margin: 12px 0;
}

}